<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('component/head') %>
    <title>Monitoring Mode | JANTUNG</title>

</head>
<body>

<div class="wrapper">

    <%- include('component/sidebar') %>

    <div class="main-panel">

        <%- include('component/navbar', { breadcumb : "Dashboard > Monitoring Mode"}) %>


        <div class="content">
            <div class="container-fluid">

            	<!-- MAIN CONTENT -->
                <% patients.forEach(function (patient) {%>
                <div class="col-md-6 col-sm-12">

                    <div class="card">
                        <div class="header">

                            <h5 class="title">Patient : <%- patient.name%></h5>
                            <p class="category">Username : <%- patient.username%> | Device ID : <%- patient.device_id%></p>

                        </div>
                        <div class="content">


                            <div id="chart-<%- patient.username%>" style="height: 200px;">
                            </div>

                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-circle text-success"></i> Device Connected
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <%})%>

            </div>
        </div>

        <%- include('component/footer') %>

    </div>
</div>

<%- include('component/body_js') %>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script src="/lib/canvasjs/canvasjs.min.js"></script>
<script type="text/javascript">

    var socket = io('http://localhost:3000');
    // listening to event

    var dps = []; // dataPoints

    <% patients.forEach(function (patient) {%>
    var chart<%-patient._id%> = new CanvasJS.Chart("chart-<%-patient.username%>",{
        data: [{ type: "line", dataPoints: dps }],
        axisY: {
            labelFontSize : 1,
            maximum: 1,
            minimum: -1
//            interval: 0.25
        },
        axisX: {
            labelFontSize : 1
        }

    });
    <%})%>

    var xVal = 0;
    var dataLength = 700; // number of dataPoints visible at any point

    <% patients.forEach(function (patient) {%>
    socket.on('visual/<%- patient.device_id %>' , function (data) {

        dps.push({
            x: xVal,
            y: parseFloat(data.data)
        });

        xVal++;

        if (dps.length > dataLength) {
            dps.shift();
        }

        chart<%-patient._id%>.render();

    });
    <%})%>


</script>

</body>

</html>
