<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('component/head') %>
    <title>List Patient | JANTUNG</title>

</head>
<body>

<div class="wrapper">

    <%- include('component/sidebar') %>

    <div class="main-panel">

        <%- include('component/navbar', { breadcumb : "Dashboard > Patients" } ) %>


        <div class="content">
            <div class="container-fluid">

            	<!-- MAIN CONTENT -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">List Patient</h4>
                                <!--<p class="category">Here is a subtitle for this table</p>-->
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                    <th style="width:10px">ID</th>
                                    <th width="60px">Username</th>
                                    <th width="90px">Full Name</th>
                                    <th width="10">Age</th>
                                    <th width="100px">Device ID</th>
                                    <th>Address</th>
                                    <th style="text-align: center">Action</th>
                                    </thead>
                                    <tbody>
                                    <% patients.forEach(function(patient) { %>
                                    <tr>
                                        <td style="width:20px" align="center"><%- patient._id %></td>
                                        <td><%- patient.username %></td>
                                        <td><%- patient.name %></td>
                                        <td><%- patient.age %></td>
                                        <td><%- patient.device_id %></td>
                                        <td><%- patient.address %></td>
                                        <td align="center">
                                            <a href="/dashboard/patients/<%- patient._id%>"  class="btn btn-sm btn-primary">Detail</a>
                                            <!-- style="margin-right: 10px" <a class="btn btn-sm btn-danger">Delete</a>-->
                                        </td>
                                    </tr>
                                    <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <%- include('component/footer') %>

    </div>
</div>

    <%- include('component/body_js') %>

</body>

</html>
