<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('component/head') %>
    <title>Detail Patient | JANTUNG</title>
    <style>
        .table-user-information > tbody > tr {
            border-top: 1px solid rgb(221, 221, 221);
        }

        .table-user-information > tbody > tr:first-child {
            border-top: 0;
        }


        .table-user-information > tbody > tr > td {
            border-top: 0;
        }
        .toppad
        {margin-top:20px;
    </style>

</head>
<body>

<div class="wrapper">

    <%- include('component/sidebar') %>

    <div class="main-panel">

        <%- include('component/navbar', { breadcumb : "Dashboard > Patients > Detail" } ) %>


        <div class="content">
            <div class="container-fluid">

            	<!-- MAIN CONTENT -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <!-- Panel Profile -->
                            <div class="col-md-5">
                                <div class="card card-user">
                                    <div style="height: 80px;" class="image">
                                        <!--<img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>-->
                                    </div>
                                    <div class="content">
                                        <div class="author">
                                            <a href="#">
                                                <img class="avatar border-gray" src="/assets/img/faces/face-0.jpg" alt="..."/>

                                                <h4 class="title"><%- patient.name %><br />
                                                    <small>Username : <%- patient.username %></small>
                                                </h4>
                                            </a>
                                        </div>

                                        <table class="table table-user-information">
                                            <tbody>
                                            <tr>
                                                <td>Address</td>
                                                <td><%- patient.address %></td>
                                            </tr>
                                            <tr>
                                                <td>Device ID</td>
                                                <td><%- patient.device_id %></td>
                                            </tr>
                                            <!--<tr>-->
                                                <!--<td>Gender</td>-->
                                                <!--<td>01/24/1988</td>-->
                                            <!--</tr>-->

                                            <tr>
                                            <tr>
                                                <td>Age</td>
                                                <td><%- patient.age %></td>
                                            </tr>
                                            <tr>
                                                <td>Alert Receiver</td>
                                                <td><%- patient.alert_phone %> (Phone)</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><%- patient.alert_email %> (Email)</td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number</td>
                                                <td><a href="#"><%- patient.phone_number %></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- User Monitor -->
                            <div class="col-md-7">
                                <div class="card">
                                    <div class="header">
                                        <p id="bpm" class="pull-right"><i style="color: #CE4142;" class="fa fa-heart"></i> bpm</p>
                                        <h5 class="title">Patient : <%- patient.name %></h5>
                                        <p class="category">Username : <%- patient.username %> | Device ID : <%- patient.device_id %></p>
                                    </div>
                                    <div class="content">


                                        <div id="chartContainer" style="height: 420px;">
                                        </div>

                                        <div class="footer">
                                            <hr>
                                            <div class="stats">
                                                <i id="PVC" class="fa fa-circle "></i> PVC
                                                <i id="PAC" class="fa fa-circle "></i> PAC
                                                <i id="BUNDLE_BRANCH" class="fa fa-circle "></i> BUNDLE_BRANCH
                                                <br>
                                                <i id="AtrialTachycardia" class="fa fa-circle "></i> AtrialTachycardia
                                                <i id="VentricularTachycardia" class="fa fa-circle "></i> VentricularTachycardia
                                                <i id="BundleBranchBlock" class="fa fa-circle "></i> BundleBranchBlock

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <%- include('component/footer') %>

    </div>
</div>

    <%- include('component/body_js') %>

<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script src="/lib/canvasjs/canvasjs.min.js"></script>
<script>

    var socket = io('http://localhost:3000');
    // listening to event

    var dps = []; // dataPoints

    var chart = new CanvasJS.Chart("chartContainer",{
        data: [{ type: "line", dataPoints: dps }],
        axisY: {
            labelFontSize : 1,
            maximum: 1,
            minimum: -1
//            interval: 0.25
        },
        axisX: {
            labelFontSize : 1
        }
    });

    var xVal = 0;
    var dataLength = 500; // number of dataPoints visible at any point


    socket.on('visual/<%- patient.device_id %>' , function (data) {

        //Change BPM
        //if(data.data[1] != 0 ){
        //    $('#bpm').html('<i style="color: #CE4142;" class="fa fa-heart"></i> ' + data.data[1].toString() + 'bpm')
        //}

        // Change ChartData
        if(data.type == 'visual') {
//            console.log('data : ', data.data);

            dps.push({ x: xVal, y: parseFloat(data.data) });
            xVal++;
            if (dps.length > dataLength)  { dps.shift(); }
            chart.render();
        }

        if(data.type == 'alert'){
//            console.log("alert : ", data.data);
            var alert_obj = JSON.parse(data.data);

            if(alert_obj.PVC){
                $('#PVC').addClass('text-danger');
                setTimeout(function(){
                    $('#PVC').removeClass('text-danger');
                }, 4000);
            }

            if(alert_obj.PAC){
                $('#PAC').addClass('text-danger');
                setTimeout(function(){
                    $('#PAC').removeClass('text-danger');
                }, 4000);
            }

            if(alert_obj.BUNDLE_BRANCH){
                $('#BUNDLE_BRANCH').addClass('text-danger');
                setTimeout(function(){
                    $('#BUNDLE_BRANCH').removeClass('text-danger');
                }, 4000);
            }

            if(alert_obj.AtrialTachycardia){
                $('#AtrialTachycardia').addClass('text-danger');
                setTimeout(function(){
                    $('#AtrialTachycardia').removeClass('text-danger');
                }, 4000);
            }

            if(alert_obj.VentricularTachycardia){
                $('#VentricularTachycardia').addClass('text-danger');
                setTimeout(function(){
                    $('#VentricularTachycardia').removeClass('text-danger');
                }, 4000);
            }

            if(alert_obj.BundleBranchBlock){
                $('#BundleBranchBlock').addClass('text-danger');
                setTimeout(function(){
                    $('#BundleBranchBlock').removeClass('text-danger');
                }, 4000);
            }

            // Change BPM
            $('#bpm').html('<i style="color: #CE4142;" class="fa fa-heart"></i> ' + alert_obj.bpm.toString() + ' bpm')


        }

        if(data.type == "bpm"){
            console.log("GET BPM for the first time")
            $('#bpm').html('<i style="color: #CE4142;" class="fa fa-heart"></i> ' + data.data.toString() + ' bpm')
        }



    });


</script>

</body>

</html>
