<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('component/head') %>
    <title>{{ TITLE }}</title>

</head>
<body>

<div class="wrapper">

    <%- include('component/sidebar') %>

    <div class="main-panel">

        <%- include('component/navbar') %>


        <div class="content">
            <div class="container-fluid">

            	<!-- MAIN CONTENT -->

            </div>
        </div>

        <%- include('component/footer') %>

    </div>
</div>

    <%- include('component/body_js') %>

</body>

</html>
